Operators (Arithmetic, Comparison, Logical, Assignment)

In [4]:
#1. Take two numbers and print their sum, difference, product, and quotient.
num1 = float(input("Insert first number: "))
num2 = float(input("Insert second number: "))

sum = num1 + num2
difference = num1 -num2
product = num1 * num2
quotient = num1 / num2

print(f"Sum: {sum}")
print(f"Difference: {difference}")
print(f"Product: {product}")
print(f"Quotient: {quotient}")

Insert first number:  25
Insert second number:  15

Sum: 40.0
Difference: 10.0
Product: 375.0
Quotient: 1.6666666666666667

In [6]:
#2.  Take a number and print whether it's greater than 100.
num = float(input("Enter a number: "))
if num > 100:
    print("Number is greater than 100.")
else:
    print("Number is not greater than 100.")

Enter a number:  300

Number is greater than 100.

In [8]:
#3. Check if two variables hold the same value.
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
if a == b:
    print("The variable hold the same value")
else:
    print("The variable not hold the same value")

Enter first number:  6
Enter second number:  7

The variable not hold the same value

In [12]:
#4. ake a number and check if itâ€™s divisible by 3 and 5.
num = int(input("Enter a number:"))

if num % 3 == 0 and num % 5 == 0:
    print("The number is divisible by 3 and 5.")
else:
    print("The number is not divisible by 3 and 5.")

Enter a number: 15

The number is divisible by 3 and 5.

In [14]:
#5.  Check if a number is either even or divisible by 7
num = int(input("Enter a number:"))

if num % 2 == 0 or num % 7 == 0:
    print("The number is either even or divisible by 7.")
else:
    print("The number is neither even or divisible by 7.")

Enter a number: 255

The number is neither even or divisible by 7.

In [16]:
#6. Use += and *= to modify a variable value.
x = 23
x += 10
print(x)
x *= 2
print(x)

33
66

In [18]:
#7. Compare two ages and print who is older.
age_1 = int(input("Enter first age: "))
age_2 = int(input("Enter second age: "))

if age_1 > age_2:
    print("The first person is older!")
elif age_2 > age_1:
    print("The second person is older!")

Enter first age:  45
Enter second age:  23

The first person is older!

In [20]:
#8.  Use not to reverse a condition result.
age_1 = int(input("Enter first age: "))
age_2 = int(input("Enter second age: "))

if not age_1 > age_2:
    print("The second person is older or they are the same age!")
else:
    print("The first person is older.")

Enter first age:  45
Enter second age:  23

The first person is older.

In [22]:
#9.  Take three numbers and find the smallest using comparison operators.
a = 12
b = 7
c = 4
if a <= b and a <= c:
    smallest = a
elif b <= a and b <= c:
    smallest = b
else:
    smallest = c
    print(f"The smallest number is: {smallest}")

The smallest number is: 4

In [24]:
#10. Swap two variables using assignment only
a = 8
b = 4

a = a + b
b = a - b
a = a - b

print("After swapping: ")
print("a = ", a)
print("b = ", b)

After swapping:
a =  4
b =  8

Lists

In [35]:
#11.  Create a list of 5 items and print each one using a loop.
my_list = ["read", "write", "learn", "study", "improve"]
for item in my_list:
    print(item)

read
write
learn
study
improve

In [37]:
#12. Add an item to the end of a list.
my_list = ["read", "write", "learn", "study", "improve"]
my_list.append("practice")
print(my_list)

['read', 'write', 'learn', 'study', 'improve', 'practice']

In [39]:
#13. Insert a number at the second position of a list.
my_list = [1, 2, 3, 4, 5, 6]
my_list.insert(1, 9)
print(my_list)

[1, 9, 2, 3, 4, 5, 6]