Operators (Arithmetic, Comparison, Logical, Assignment)

In [4]:
#1. Take two numbers and print their sum, difference, product, and quotient.
num1 = float(input("Insert first number: "))
num2 = float(input("Insert second number: "))

sum = num1 + num2
difference = num1 -num2
product = num1 * num2
quotient = num1 / num2

print(f"Sum: {sum}")
print(f"Difference: {difference}")
print(f"Product: {product}")
print(f"Quotient: {quotient}")

Insert first number:  25
Insert second number:  15

Sum: 40.0
Difference: 10.0
Product: 375.0
Quotient: 1.6666666666666667

In [6]:
#2.  Take a number and print whether it's greater than 100.
num = float(input("Enter a number: "))
if num > 100:
    print("Number is greater than 100.")
else:
    print("Number is not greater than 100.")

Enter a number:  300

Number is greater than 100.

In [8]:
#3. Check if two variables hold the same value.
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
if a == b:
    print("The variable hold the same value")
else:
    print("The variable not hold the same value")

Enter first number:  6
Enter second number:  7

The variable not hold the same value

In [12]:
#4. ake a number and check if itâ€™s divisible by 3 and 5.
num = int(input("Enter a number:"))

if num % 3 == 0 and num % 5 == 0:
    print("The number is divisible by 3 and 5.")
else:
    print("The number is not divisible by 3 and 5.")

Enter a number: 15

The number is divisible by 3 and 5.

In [14]:
#5.  Check if a number is either even or divisible by 7
num = int(input("Enter a number:"))

if num % 2 == 0 or num % 7 == 0:
    print("The number is either even or divisible by 7.")
else:
    print("The number is neither even or divisible by 7.")

Enter a number: 255

The number is neither even or divisible by 7.

In [16]:
#6. Use += and *= to modify a variable value.
x = 23
x += 10
print(x)
x *= 2
print(x)

33
66

In [18]:
#7. Compare two ages and print who is older.
age_1 = int(input("Enter first age: "))
age_2 = int(input("Enter second age: "))

if age_1 > age_2:
    print("The first person is older!")
elif age_2 > age_1:
    print("The second person is older!")

Enter first age:  45
Enter second age:  23

The first person is older!

In [20]:
#8.  Use not to reverse a condition result.
age_1 = int(input("Enter first age: "))
age_2 = int(input("Enter second age: "))

if not age_1 > age_2:
    print("The second person is older or they are the same age!")
else:
    print("The first person is older.")

Enter first age:  45
Enter second age:  23

The first person is older.

In [22]:
#9.  Take three numbers and find the smallest using comparison operators.
a = 12
b = 7
c = 4
if a <= b and a <= c:
    smallest = a
elif b <= a and b <= c:
    smallest = b
else:
    smallest = c
    print(f"The smallest number is: {smallest}")

The smallest number is: 4

In [24]:
#10. Swap two variables using assignment only
a = 8
b = 4

a = a + b
b = a - b
a = a - b

print("After swapping: ")
print("a = ", a)
print("b = ", b)

After swapping:
a =  4
b =  8

Lists

In [35]:
#11.  Create a list of 5 items and print each one using a loop.
my_list = ["read", "write", "learn", "study", "improve"]
for item in my_list:
    print(item)

read
write
learn
study
improve

In [37]:
#12. Add an item to the end of a list.
my_list = ["read", "write", "learn", "study", "improve"]
my_list.append("practice")
print(my_list)

['read', 'write', 'learn', 'study', 'improve', 'practice']

In [39]:
#13. Insert a number at the second position of a list.
my_list = [1, 2, 3, 4, 5, 6]
my_list.insert(1, 9)
print(my_list)

[1, 9, 2, 3, 4, 5, 6]

In [44]:
#14. Remove the last item from a list.
my_list = ["read", "write", "learn", "study", "improve"]
my_list.remove("improve") #my_list.pop()
print(my_list)

['read', 'write', 'learn', 'study']

In [46]:
#15. Sort a list of numbers in ascending order.
my_list = [1, 7, 3, 8, 5, 6]
my_list.sort()
print(my_list)

[1, 3, 5, 6, 7, 8]

In [48]:
#16.  Reverse a list.
my_list = [1, 2, 3, 4, 5, 6]
my_list.reverse()
print(my_list)

[6, 5, 4, 3, 2, 1]

In [58]:
#17. Find the sum of all elements in a list.
numbers = [1, 2, 3, 4, 5, 6]
total = sum(numbers)
print("The sum is: ", total)

The sum is:  21

In [62]:
#18. Find the maximum and minimum values in a list.
numbers = [1, 2, 3, 4, 5, 6]
maximum = max(numbers)
minimum = min(numbers)
print("Maximum value is: ", maximum)
print("Minimum value is: ", minimum)

Maximum value is:  6
Minimum value is:  1

In [64]:
#19.  Check if a user-entered item is in a list.
my_list = ["read", "write", "learn", "study", "improve"]
item = input("Enter a item to check: ")
if item in my_list:
    print(f"'{item}' item is in the list.")
else:
    print(f"'{item}' item is not in the list.")

Enter a item to check:  apple

'apple' item is not in the list.

In [66]:
#20. Count how many times a certain value appears in a list.
my_list = ["read", "write", "learn", "study", "read"]
value = "read"
count = my_list.count(value)
print(f"'{value}' apears {count} times in the list.")

'read' apears 2 times in the list.

TUPLES

In [73]:
#21. Create a tuple of 4 colors and print the second one
my_tuple = ("yelow", "blue", "red", "green")
print("The second color is: ", my_tuple[1])

The second color is:  blue

In [77]:
#22. Try to change a value in a tuple (observe what happens).
my_tuple = ("yelow", "blue", "red", "green")
my_tuple[1] = "purple"

TypeError: 'tuple' object does not support item assignment

In [79]:
#23. Convert a list to a tuple.
my_list = ["read", "write", "learn", "study", "read"]
my_tuple = tuple(my_list)
print("Tuple: ", my_tuple)

Tuple:  ('read', 'write', 'learn', 'study', 'read')

In [81]:
#24.  Check if a value exists in a tuple.
my_tuple =  ('read', 'write', 'learn', 'study', 'read')
value = "white"
if value in my_tuple:
    print(f"'{value}' is in the tuple.")
else:
    print(f"'{value}' is not in the tuple.")

'white' is not in the tuple.

In [83]:
#25. Find the length of a tuple.
my_tuple =  ('read', 'write', 'learn', 'study', 'read')
length = len(my_tuple)
print("The length o the tuple is: ", length)

The length o the tuple is:  5

In [85]:
#26.  Slice a tuple to get the last two elements.
my_tuple =  ('read', 'write', 'learn', 'study', 'read')
last_two = my_tuple[-2:]
print("Last two elements are: ", last_two)

Last two elements are:  ('study', 'read')

In [87]:
#27. Concantenate two tuples.
my_tuple1 =  ('read', 'write', 'learn', 'study', 'read')
my_tuple2 =  ('red', 'yelow', 'blue', 'green', 'orange')

combined_tuple = my_tuple1 + my_tuple2
print("Combined tuple: ", combined_tuple)

Combined tuple:  ('read', 'write', 'learn', 'study', 'read', 'red', 'yelow', 'blue', 'green', 'orange')

In [89]:
#28. Use a tuple to store coordinates (x, y).
coordinates = (11, 56)
x = coordinates[0]
y = coordinates[1]
print("X coordinate: ", x)
print("Y coordinate: ", y)

X coordinate:  11
Y coordinate:  56

In [95]:
#29. Create a tuple with numbers and find the max value.
my_tuple = (12, 34, 4, 56, 78)
maximum = max(my_tuple)
print("Maximum value is: ", maximum)

Maximum value is:  78

In [97]:
#30. Convert a tuple to a list and back again.
my_tuple =  ('read', 'write', 'learn', 'study', 'read')

my_list = list(my_tuple)
print("List: ", my_list)

new_tuple = tuple(my_list)
print("New tuple: ", new_tuple)

List:  ['read', 'write', 'learn', 'study', 'read']
New tuple:  ('read', 'write', 'learn', 'study', 'read')

DICTIONARIES

In [102]:
#31. Create a dictionary of 3 students with their marks.
students_marks = {
    "Edit": 84,
    "Antonia": 96,
    "Daniel": 74
}
print(students_marks)

{'Edit': 84, 'Antonia': 96, 'Daniel': 74}

In [104]:
#32. Add a new key-value pair to a dictionary.
students_marks = {
    "Edit": 84,
    "Antonia": 96,
    "Daniel": 74
}
students_marks["Marius"] = 80
print(students_marks)

{'Edit': 84, 'Antonia': 96, 'Daniel': 74, 'Marius': 80}

In [106]:
#33. Update the value of an existing key.
students_marks = {
    "Edit": 84,
    "Antonia": 96,
    "Daniel": 74
}
students_marks["Edit"] = 90
print(students_marks)

{'Edit': 90, 'Antonia': 96, 'Daniel': 74}

In [108]:
#34. Delete a key from the dictionary.
students_marks = {
    "Edit": 84,
    "Antonia": 96,
    "Daniel": 74
}
del students_marks["Edit"]
print(students_marks)

{'Antonia': 96, 'Daniel': 74}

In [112]:
#35. Print all keys of a dictionary.
students_marks = {
    "Edit": 84,
    "Antonia": 96,
    "Daniel": 74
}
print("Keys in the dictionary: ", students_marks.keys())

Keys in the dictionary:  dict_keys(['Edit', 'Antonia', 'Daniel'])

In [114]:
#36. Print all values of a dictionary.
students_marks = {
    "Edit": 84,
    "Antonia": 96,
    "Daniel": 74
}
print("Values in the dictionary:", students_marks.values())

Values in the dictionary: dict_values([84, 96, 74])

In [116]:
#37.  Check if a specific key exists in the dictionary.
students_marks = {
    "Edit": 84,
    "Antonia": 96,
    "Daniel": 74
}
key_to_check = "Bob"

if key_to_check in students_marks:
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

The key 'Bob' does not exist in the dictionary.

In [120]:
#38.  Get the value of a key using get().
students_marks = {
    "Edit": 84,
    "Antonia": 96,
    "Daniel": 74
}

key_to_get = "Edit"
value = students_marks.get(key_to_get)

if value:
    print(f"The value for '{key_to_get}' is: {value}")
else:
    print(f"Key '{key_to_get}' does not exist.")

The value for 'Edit' is: 84

In [122]:
#39. Loop through the dictionary and print each key and value. 
students_marks = {
    "Edit": 84,
    "Antonia": 96,
    "Daniel": 74
}
for key, value in students_marks.items():
    print(f"Key : {key}, Value : {value}")

Key : Edit, Value : 84
Key : Antonia, Value : 96
Key : Daniel, Value : 74

In [126]:
#40. Create a dictionary where keys are numbers and values are their squares
squares_dict ={x: x**2 for x in range(1, 6)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}