Basics of Python

In [2]:
#1. Print "Hello World!"
print("Hello World!")

Hello World!

In [4]:
#2. Print your name
print("Katona Edit")

Katona Edit

In [6]:
#3. Take user's name as input and greet them
name = ("Katona Edit")
print("Hello, " + name + "!")

Hello, Katona Edit!

In [8]:
#4. Add two numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Sum: ", a + b)

Enter first number:  45
Enter second number:  23

Sum:  68

In [10]:
#5. Subtract two numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Difference: ", a - b)

Enter first number:  67
Enter second number:  23

Difference:  44

In [12]:
#6. Multiply two numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Product: ", a * b)

Enter first number:  2
Enter second number:  8

Product:  16

In [14]:
#7. Divide two numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Quotient: ", a / b)

Enter first number:  45
Enter second number:  23

Quotient:  1.9565217391304348

In [16]:
#8. Find the remainder of a division
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Remainder: ", a % b)

Enter first number:  45
Enter second number:  20

Remainder:  5

In [18]:
#9. Find the square of a number
num = int(input("Enter a number: "))
print("Square: ", num ** 2)

Enter a number:  34

Square:  1156

In [20]:
#10. Power of number
base = int(input("Enter base: "))
exp = int(input("Enter exponent: "))
print("Result: ", base ** exp)

Enter base:  56
Enter exponent:  2

Result:  3136

In [22]:
#11. Convert kilometers to miles
km = float(input("Enter kilometers: "))
miles = km * 0.621371
print("Miles: ", miles)

Enter kilometers:  10

Miles:  6.21371

In [24]:
#12. Convert Celsius to Fahrenheit
c = float(input("Enter temperature in Celsius: "))
f = (c * 9/5) + 32
print("Fahrenheit: ", f)

Enter temperature in Celsius:  37

Fahrenheit:  98.6

In [26]:
#13. Swap to numers
a = input("Enter first number: ")
b = input("Enter second number: ")
a, b = b, a
print("Swapped: a =", a, "b =", b )

Enter first number:  8
Enter second number:  3

Swapped: a = 3 b = 8

In [28]:
#14. Calculate area of rentagle
length = float(input("Enter lenght: "))
width = float(input("Enter width: "))
print("Area: ", length + width)

Enter lenght:  23
Enter width:  34

Area:  57.0

In [30]:
#15. Area of a circle
r = float(input("Enter radius: "))
area = 3.14 * r * r
print("Area of circle: ", area)

Enter radius:  5

Area of circle:  78.5

In [32]:
#16. Perimeter of a triangle
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = float(input("Enter side c: "))
print("Perimeter: ", a + b + c)

Enter side a:  2
Enter side b:  4
Enter side c:  5

Perimeter:  11.0

In [34]:
#17. Convert age to months and days
age = int(input("Enter your age: "))
print("Months old: ", age * 12)
print("Days old: ", age * 365)

Enter your age:  43

Months old:  516
Days old:  15695

In [36]:
#18. Convert seconds to hours and minutes
seconds = int(input("Enter seconds: "))
hours = seconds // 3600
minutes = (seconds % 3600) // 60
print(hours, "Hours and", minutes, "minutes" )

Enter seconds:  23456789

6515 Hours and 46 minutes

In [40]:
#19. Round a float
num = float(input("Enter a float number: "))
print(round(num, 2))

Enter a float number:  4.567

4.57

In [46]:
#20. Take multiple inputs and display
a, b = input("Enter two numbers: ").split()
print("a =", a, "b =", b)

Enter two numbers:  2, 3

a = 2, b = 3

In [50]:
#21. Find the average of three numbers
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
average = (a + b + c) / 3
print("Average: ", average)

Enter first number:  5
Enter second number:  3
Enter third number:  7

Average:  5.0

In [52]:
#22. Use input() and type() to show data types
value = input("Enter something: ")
print("You entered: ", value)
print("Data type is : ", type(value))

Enter something:  24

You entered:  24
Data type is :  <class 'str'>

In [54]:
#23. Assign values to multiple variable in one line
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [56]:
#24. Use string formatting with variable
name = input("Enter your name: ")
age = input("Enter your age: ")
print(f"Hello {name}, you are {age} years old.")

Enter your name:  Katona Edit
Enter your age:  43

Hello Katona Edit, you are 43 years old.

In [60]:
#25. Take input and convert it to  int, float, and string
num = input("Enter a nymber: ")
print("As integer: ", int(num))
print("As float: ", float(num))
print("As string: ", str(num))

Enter a nymber:  23

As integer:  23
As float:  23.0
As string:  23

In [62]:
#26. Use arithmetic assigment operators
x = 10
x += 5
x -= 2
x *= 7
x /= 4
print("Final value of x is: ", x)

Final value of x is:  22.75

In [64]:
#27. Use comparison operators
a = 34
b = 78
print(a == b)
print(a != b)
print(a > b)

False
True
False

In [66]:
#28. Use logical operators
a = 7
b = 20
print(a > 2 and b < 80)
print(a , 2 or b > 7)
print(a == 7)

True
7 2
True

In [68]:
#29. Print integer part of float
num = float(input("Enter a float: "))
print("Integer part: ", int(num))

Enter a float:  45.6

Integer part:  45

In [70]:
#30. Find the absolut value 
num = int(input("Enter a number: "))
print("Absolute value: ", abs(num))

Enter a number:  56

Absolute value:  56

In [72]:
#31. Find square root using exponentiation
num = float(input("Enter a number: "))
print("Square root: ", num ** 0.5)

Enter a number:  3

Square root:  1.7320508075688772

In [74]:
#32. Calculate simple interest
p = float(input("Enter principal: "))
r = float(input("Enter rate: "))
t = float(input("Enter time: "))
si = (p * r * t) / 100
print("Simple Interest: ", si)

Enter principal:  400
Enter rate:  6
Enter time:  6

Simple Interest:  144.0

In [76]:
#33. Take a sentence and print it
sentence = input("Enter sentence: ")
print("You wrote: ", sentence)

Enter sentence:  Glade to be here!!!

You wrote:  Glade to be here!!!

In [78]:
#34. Use type(0 to detect input type
val = input("Enter something: ")
print("Type is: ", type(val))

Enter something:  56

Type is:  <class 'str'>

In [80]:
#35. Print last digit of number
num = int(input("Enter a number wiht multiple digit: "))
print("Last digit is: ", num % 10)

Enter a number wiht multiple digit:  3456

Last digit is:  6

In [82]:
#36. Check divisibility using modulo
num = int(input("Enter a number: "))
if num % 3 == 0:
    print("Divisible by 3")
else:
    print("Is not divisible by 3")

Enter a number:  67

Is not divisible by 3

In [84]:
#37. Calculate BMI
weight = float(input("Enter weight in kg: "))
height = float(input("Enter height in meters: "))
bmi = weight / (height ** 2)
print("Your BMI is: ", round(bmi, 2))

Enter weight in kg:  65
Enter height in meters:  1.69

Your BMI is:  22.76

In [86]:
#38. Print memory size of variable
import sys
x = 42
print("Memory size: ", sys.getsizeof(x), "bytes")

Memory size:  28 bytes

In [94]:
#39. Print ASCII value of a character
char = input("Enter a character: ")
print("ASCII value: ", ord(char))

Enter a character:  d

ASCII value:  100

In [96]:
#40. Convert decimal to binary
num = int(input("Enter a decimal number: "))
print("Binary: ", bin(num))

Enter a decimal number:  8

Binary:  0b1000

In [98]:
#41. Create and print a string
name = "Python"
print(name)

Python

In [100]:
#42. Concatenate two string
a = "Hello"
b = "World!"
print(a + " " + b)

Hello World!

In [102]:
#43. Find the length of a strin
text = input("Enter a string: ")
print("Length: ",len(text))

Enter a string:  Antonia

Length:  7

In [108]:
#44. Acces specific character in string
text = input("Enter a string: ")
print("First character: ", text[0])

Enter a string:  Antonia

First character:  A

In [106]:
#45. Get substring from a string
text = "Python programming"
print(text[0:6])

Python

In [110]:
#46. Convert string to uppercase
text = input("Enter a string: ")
print(text.upper())

Enter a string:  antonia

ANTONIA

In [112]:
#47. Convert string to lowercase
text = input("Enter a string: ")
print(text.lower())

Enter a string:  ANTONIA

antonia

In [114]:
#48. Replace word in a string
text = input("Enter a sentence: ")
print(text.replace("bad", "good"))

Enter a string:  This place is not bad.

This place is not good.

In [116]:
#49. Check if substring exist
text = input("Enter a sentence: ")
word = input("Enter a word to check: ")
print(word in text)

Enter a sentence:  : Databricks is a cloud-based data platform designed for
Enter a word to check:  cloud

True

In [118]:
#50. Count occurrences of a character
text = input("Enter a text: ")
char = input("Enter character: ")
print("Occurrences: ", text.count(char))

Enter a text:  Data Science
Enter character:  e

Occurrences:  2