Basics of Python

In [2]:
#1. Print "Hello World!"
print("Hello World!")

Hello World!

In [4]:
#2. Print your name
print("Katona Edit")

Katona Edit

In [6]:
#3. Take user's name as input and greet them
name = ("Katona Edit")
print("Hello, " + name + "!")

Hello, Katona Edit!

In [8]:
#4. Add two numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Sum: ", a + b)

Enter first number:  45
Enter second number:  23

Sum:  68

In [10]:
#5. Subtract two numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Difference: ", a - b)

Enter first number:  67
Enter second number:  23

Difference:  44

In [12]:
#6. Multiply two numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Product: ", a * b)

Enter first number:  2
Enter second number:  8

Product:  16

In [14]:
#7. Divide two numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Quotient: ", a / b)

Enter first number:  45
Enter second number:  23

Quotient:  1.9565217391304348

In [16]:
#8. Find the remainder of a division
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Remainder: ", a % b)

Enter first number:  45
Enter second number:  20

Remainder:  5

In [18]:
#9. Find the square of a number
num = int(input("Enter a number: "))
print("Square: ", num ** 2)

Enter a number:  34

Square:  1156

In [20]:
#10. Power of number
base = int(input("Enter base: "))
exp = int(input("Enter exponent: "))
print("Result: ", base ** exp)

Enter base:  56
Enter exponent:  2

Result:  3136

In [22]:
#11. Convert kilometers to miles
km = float(input("Enter kilometers: "))
miles = km * 0.621371
print("Miles: ", miles)

Enter kilometers:  10

Miles:  6.21371

In [24]:
#12. Convert Celsius to Fahrenheit
c = float(input("Enter temperature in Celsius: "))
f = (c * 9/5) + 32
print("Fahrenheit: ", f)

Enter temperature in Celsius:  37

Fahrenheit:  98.6

In [26]:
#13. Swap to numers
a = input("Enter first number: ")
b = input("Enter second number: ")
a, b = b, a
print("Swapped: a =", a, "b =", b )

Enter first number:  8
Enter second number:  3

Swapped: a = 3 b = 8

In [28]:
#14. Calculate area of rentagle
length = float(input("Enter lenght: "))
width = float(input("Enter width: "))
print("Area: ", length + width)

Enter lenght:  23
Enter width:  34

Area:  57.0

In [30]:
#15. Area of a circle
r = float(input("Enter radius: "))
area = 3.14 * r * r
print("Area of circle: ", area)

Enter radius:  5

Area of circle:  78.5

In [32]:
#16. Perimeter of a triangle
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = float(input("Enter side c: "))
print("Perimeter: ", a + b + c)

Enter side a:  2
Enter side b:  4
Enter side c:  5

Perimeter:  11.0

In [34]:
#17. Convert age to months and days
age = int(input("Enter your age: "))
print("Months old: ", age * 12)
print("Days old: ", age * 365)

Enter your age:  43

Months old:  516
Days old:  15695

In [36]:
#18. Convert seconds to hours and minutes
seconds = int(input("Enter seconds: "))
hours = seconds // 3600
minutes = (seconds % 3600) // 60
print(hours, "Hours and", minutes, "minutes" )

Enter seconds:  23456789

6515 Hours and 46 minutes